@import "@netless/telebox-insider/dist/style.css";

.netless-window-manager-playground {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
}

.netless-window-manager-sizer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
}

.netless-window-manager-sizer-horizontal {
  flex-direction: column;
}

.netless-window-manager-sizer:before, .netless-window-manager-sizer:after {
  flex: 1;
  content: "";
  display: block;
}

.netless-window-manager-wrapper {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.netless-window-manager-wrapper {
  box-shadow: 0 0 16px #00000014;
}

.netless-window-manager-frameless .telebox-box-main {
  border: none;
  box-shadow: none;
}

.netless-window-manager-frameless .telebox-titlebar,
.netless-window-manager-frameless .telebox-max-titlebar-maximized,
.netless-window-manager-frameless .telebox-titlebar-wrap,
.netless-window-manager-frameless .telebox-footer-wrap {
  display: none;
}
